<!doctype html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/svg" href="/favicon.svg"/>
    {% endblock %}
</head>
<body>
<header>
    <div class="header__container">
        <div class="heading">
            <a href="{{ path("index") }}">
                <img src="/img/logo.svg" alt="<Пхпицца>" class="logo">
            </a>
            <span class="subtitle">для тех, кто увлечён своим делом</span>
        </div>
        <nav class="top-panel">
            <span class="top-panel__element city">г. Йошкар-Ола</span>
            <a class="top-panel__element user">
                <span class="user__name">{{ user.firstName ?? "" }}</span>
                <img src="/img/{{ user.avatar ?? "user-avatar.png" }}" alt="user.firstName" class="user__avatar">
            </a>
        </nav>
    </div>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>